
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap'); </style>
  <style> .gps-512092045763019688 .gp-relative{position:relative}.gps-512092045763019688 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512092045763019688 .gp-mb-0{margin-bottom:0}.gps-512092045763019688 .gp-flex{display:flex}.gps-512092045763019688 .gp-grid{display:grid}.gps-512092045763019688 .\!gp-hidden{display:none!important}.gps-512092045763019688 .gp-hidden{display:none}.gps-512092045763019688 .gp-max-w-full{max-width:100%}.gps-512092045763019688 .gp-flex-col{flex-direction:column}.gps-512092045763019688 .gp-gap-y-0{row-gap:0}.gps-512092045763019688 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512092045763019688 .gp-duration-200{transition-duration:.2s}.gps-512092045763019688 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512092045763019688 .tablet\:\!gp-hidden{display:none!important}.gps-512092045763019688 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512092045763019688 .mobile\:\!gp-hidden{display:none!important}.gps-512092045763019688 .mobile\:gp-hidden{display:none}}.gps-512092045763019688 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512092045763019688 .\[\&_p\]\:gp-inline p{display:inline}.gps-512092045763019688 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512092045763019688 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gIWaiqb0DI"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:50px;--pb:20px;--pt-mobile:30px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--pt-tablet:50px;--pl-tablet:10px;--pb-tablet:20px;--pr-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIWaiqb0DI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmbxPgmfOO gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gDPftbYXYc"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:10px;--pl:10px;--pb:10px;--pr:10px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--w:1050px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDPftbYXYc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gncFiuQlE9 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIqhKgoo9A "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--lh:130%;--size:30px;--size-tablet:35px;--size-mobile:22px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIqhKgoo9A_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gqyLgocJNe "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:26px;--size:17px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqyLgocJNe_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-512092045763019688 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/add-on-design/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=512092045729399720&sectionId=512092045763019688)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggIqhKgoo9A_text","label":"ggIqhKgoo9A_text","default":"Car Transformation Unleashed!"},{"type":"text","id":"ggqyLgocJNe_text","label":"ggqyLgocJNe_text","default":"<p><span style=\"color:#000000;\">Embark on an Automotive Revolution with Add-On: Ignite Your Ride with Cutting-Edge LED Lights! 🚗💥</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\">Prepare to make heads turn on the road as Add-On emerges as the leader in the modification scene! Our revolutionary LED Lights go beyond cool – they redefine the very essence of coolness. &nbsp;Crafted from sleek Acrylic and powered by futuristic methods, these lights are the key to an awe-inspiring car transformation. Pick from a wide range of vibrant colors and mind-blowing designs that will transform your ride into the envy of every street.</span></p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
